AddKeysToAgent yes

Host *.netflix.net
    User phelps
Host *.netflix.com
    User phelps
Host awstest
    User phelps
Host awsprod
    User phelps
Host pylon
    Hostname phelps.pylon.prod.container.dataeng.netflix.net
    User root
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    ForwardAgent yes
